<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
	<connectionStrings>
		<add name="Admin" connectionString="Data Source=BOGA;Initial Catalog=AcademicAdvisingDB;User ID=admin;Password=Password;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		 
		
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="webDAVmodule"/>

			<remove name="UrlRoutingModule"/>
		</modules>
		<handlers>
			<remove name="webDAV"/>	
		</handlers>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>


</configuration>